body {
  background-color: rgb(209, 209, 209);
}
.btn-uniq {
  width: 135px;
  height: 40px;
  transition: all 0.5s;
}
.btn-uniq:hover {
  transform: scale(15.1);
}
.text {
  margin-bottom: 50px;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-shadow: 1px 1px 0 hsl(20, 100%, 50%), 2px 2px 0 hsl(20, 100%, 50%),
    3px 3px 0 hsl(35, 100%, 50%), 4px 4px 0 hsl(35, 100%, 50%),
    5px 5px 0 hsl(45, 100%, 50%), 6px 6px 0 hsl(45, 100%, 55%),
    7px 7px 0 hsl(55, 100%, 60%), 8px 8px 0 hsl(55, 100%, 65%);
  color: hsl(0, 100%, 40%);
  transition: all 1s;
}
.text:hover {
  text-shadow: 1px -1px 0 hsl(290, 100%, 40%), 2px -2px 0 hsl(290, 100%, 40%),
    3px -3px 0 hsl(280, 100%, 60%), 4px -4px 0 hsl(280, 100%, 60%),
    5px -5px 0 hsl(270, 100%, 75%), 6px -6px 0 hsl(270, 100%, 80%),
    7px -7px 0 hsl(260, 100%, 85%), 8px -8px 0 hsl(260, 100%, 90%);
  color: hsl(300, 100%, 30%);
}
.register-authorization-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin: 10px auto;
}
.btn {
  text-shadow: 1px 1px 0 hsl(20, 100%, 50%), 2px 2px 0 hsl(20, 100%, 50%),
    3px 3px 0 hsl(35, 100%, 50%), 4px 4px 0 hsl(35, 100%, 50%),
    5px 5px 0 hsl(45, 100%, 50%), 6px 6px 0 hsl(45, 100%, 55%),
    7px 7px 0 hsl(55, 100%, 60%), 8px 8px 0 hsl(55, 100%, 65%);
  color: hsl(0, 100%, 40%);
  background: #fff;
  transition: all 0.5s;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  text-shadow: 1px -1px 0 hsl(290, 100%, 40%), 2px -2px 0 hsl(290, 100%, 40%),
    3px -3px 0 hsl(280, 100%, 60%), 4px -4px 0 hsl(280, 100%, 60%),
    5px -5px 0 hsl(270, 100%, 75%), 6px -6px 0 hsl(270, 100%, 80%),
    7px -7px 0 hsl(260, 100%, 85%), 8px -8px 0 hsl(260, 100%, 90%);
  color: hsl(300, 100%, 30%);
  background: #fffeff;
}
